@import url(globals.css);
@import url(utility.css);
@import url(variables.css);


.portfolio-image {
    border-radius: 50%;
    height: 250px;
    box-shadow: 0 0 20px 10px rgb(182, 96, 182);
    margin: 20px;
}

.neonfont {
    color: rgb(220, 28, 217);
    text-shadow: 0 0 10px purple;
}



.project-card {
    width: 700px; 
    height: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: width 0.5s ease; 
    position: relative; 
    margin-bottom: 40px;
  }
  
  .project-image img {
    object-fit: cover; 
    flex-shrink: 0;
    height: 100%;
    width: 800px;
  }
  
  .project-info {
    position: absolute;
    right: -100%; 
    top: 0;
    background-color: rgb(54, 51, 54);
    color: #ffffff; 
    width: 300px; 
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.5s ease; 
  }

  
  .project-card:hover {
    width: 800px;
  }
  
  .project-card:hover .project-info {
    right: 0; 
  }

