@import url(globals.css);
@import url(utility.css);
@import url(variables.css);
@import url(typography.css);
@import url(styling.css);
@import url(media.css);



/* Paddings */ 

.h1-top,
.work-h2,
.project-info,
.projects-container {
    padding: var(--padding-20);
}

footer i {
    padding: var(--padding-10);
}

.navigation ul {
    padding: 0;
}

/* Margins */ 

.h2-bottom,
.projects-container {
    margin-top: 50px;
}

.project-card {
    margin-bottom: 20px;
}

header {
    margin-bottom: 40px;
}

.navigation ul {
    margin: 0;
}



/* Height & Widths */ 


/* Colors */ 


/* Other stylings */ 


.portfolio-image {
    border-radius: 50%;
    max-height: 250px;
    max-width: 50%;
    box-shadow: 0 0 20px 10px rgb(182, 96, 182);
    margin: 30px 0;
}

.neonfont {
    color: rgb(220, 28, 217);
}

.neonfont-pink {
    color: rgb(232, 119, 185);
}


.work-h2 {
    margin-bottom: 40px;
}



header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navigation ul {
    list-style: none;
    gap: var(--gap-normal)
}

.links-header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links-header a:hover,
.links-header a.active {
    background-color: #555;
}
/*
.project-card {
    position: relative;
    overflow: hidden;
    transition: width 0.5s ease;
}

.project-info {
    position: absolute;
    right: -100%;
    top: 0;
    background-color: rgb(54, 51, 54);
    color: #ffffff;
    max-width: 300px;
    height: 100%;
    box-sizing: border-box;
    transition: right 0.5s ease;
}
*/

.project-info {
    text-align: center;
}

.project-info h2, 
.project-info h3,
.project-info p, 
.project-info a {
    padding: var(--padding-10);
}


.project-image img {
    max-width: 100%;
    height: auto;
}

.project-image {
    position: relative;
}

